<mat-form-field>
  <mat-label>Select Control</mat-label>
  <mat-select
    [(value)]="selectedItem"
    (selectionChange)="selectionChange($event)"
  >
    <mat-option *ngFor="let control of controls" [value]="control.name">
      {{ control.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<h3>Selected Control is: {{ selectedItem }}</h3>
<ng-container #vc></ng-container>
<div *ngIf="isLoading">loading...</div>
<ng-template #tpl>
  <ax-lazy-element
    *axLazyElementDynamic="
      selectedConfig.tag;
      url: selectedConfig.url;
      module: selectedConfig.isModule
    "
    raised
  >
    {{ selectedConfig.content }}
  </ax-lazy-element>
</ng-template>
